<div class="col-md-12">
    <h1 class="page-header">
        Song Recommender
    </h1>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label>Enter a song name for which you want recommendation:</label>
        <input class="form-control" rows="3" ng-model="songName"/>
    </div>
    <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="getRecommendation()">
        Request recommendation <i class="fa fa-arrow-right"></i>
    </button>
</div>

<div class="col-md-6" ng-if="showPlayMenu">
    <table class="table">
        <thead>
        <tr>
            <th>Type</th>
            <th>Artist</th>
            <th>Song name</th>
            <th>Play</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Request</td>
            <td>{{request.artists[0].name}}</td>
            <td>{{request.name}}</td>
            <td>
                <button class="btn btn-primary" ng-click="playRequest()">
                    <i class="fa fa-play"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-primary" ng-click="pauseRequest()">
                    <i class="fa fa-pause"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>Recommendation</td>
            <td>{{recommendation.artists[0].name}}</td>
            <td>{{recommendation.name}}</td>
            <td>
                <button class="btn btn-primary" ng-click="playRecommendation()">
                    <i class="fa fa-play"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-primary" ng-click="pauseRecommendation()">
                    <i class="fa fa-pause"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


